<div class="container">
    <footer class="footer">
        <small>Copyright &copy; Christabel Alpha blog</smal>

<nav>
    <ul>
        <li><%= link_to "About", about_path %></li> 
         <li><%= link_to "Home", root_path %></li> 
    </ul>
    </nav>
 </footer>
</div>